<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCF2UfR-pZw8-bnKJRN3cz1hdcTHG7htLY</string>
	<key>GCM_SENDER_ID</key>
	<string>387468166625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppV2</string>
	<key>PROJECT_ID</key>
	<string>chat-app-v2-18544</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-v2-18544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387468166625:ios:2fed8ecab58944f532bea0</string>
</dict>
</plist>